

  <div class="landing">

</div>

<div class="lanfloat">
  <h6>Welcome to Expedition Society</h6>
  <div class = "enter_site">
   <p class="btn btn-primary"> <%= link_to 'Enter', trips_path %> </p>
  </div>
    </div>


